include components/head

  body
    section.background.shadow
      h1 Ты сегодня покормил кота?
      div.packaging
        +packaging('foie-gras', 'с фуа-гра', '10 порций\nмышь в подарок', '0,5',)
        +packaging('fish', 'с рыбой', '40 порций\n2 мыши в подарок', '2',)
        +packaging('chicken', 'с курицей', '100 порций\n5 мышей в подарок\nзаказчик доволен', '5',)


